$th-color:#ddd;
$white: white;
$page-background-color: rgb(222, 223, 211);
$heading-color: rgb(103, 103, 153);
$black: black;
$tr-color:#f8f8f8;
$edit-color: rgb(243, 99, 99);
$delete-color: rgb(101, 101, 219);
$lightslategrey: lightslategrey;

  .display {
    display: inline-block;
    height: 51rem;
    table {
      border: 1px solid $th-color;
      margin-top: 2px;
      width: 55rem;
    }
    td {
      background-color: $th-color;
    }
    th, td {
      font-size: 20px;
    }
    th {
      background-color: $lightslategrey;
      color: $white;
    }
    
    .pagination {
      margin-top: 15px;
      margin-left: 47%;
    }
    .red{
      width: 33px;
      color: $edit-color;
      font-size: 25px;
    }
    .blue {
      font-size: 25px;
      color: $delete-color;
    }
    i {
      padding-right: 10px;
      cursor: pointer;
    } 
  }
