<div class="bg-img">
<form #f="ngForm" (ngSubmit)="login(f)">
  <marquee behavior="scroll" direction="right">Employee Management System</marquee>
  <div class="login">
  <div class="input-field">
    <mat-form-field>
      <mat-label>Username </mat-label>
      <input type="text" matInput  name="username" required  
              [(ngModel)]="username" #Username="ngModel" minlength="2" maxlength="100"><br>
              <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
                <mat-icon>close</mat-icon>
              </button>
      <mat-error *ngIf="Username.invalid && (Username.dirty || Username.touched)">
        <mat-error *ngIf="Username.errors?.required">
          Username is required.
        </mat-error>
        <mat-error *ngIf="Username.errors?.minlength">
          Username must be at least 2 characters long.
        </mat-error>
        <mat-error *ngIf="Username.errors?.maxlength">
          Username cannot exists 100 characters
        </mat-error>
        <!-- <mat-error *ngIf="Username.errors?.pattern">  
          Username is not valid
        </mat-error>  -->
      </mat-error>
    </mat-form-field><br>
  </div>

  <div class="input-field">
    <mat-form-field>
      <mat-label>Password </mat-label>
      <input type="password" matInput  name="password" required 
              [(ngModel)]="password" #Password="ngModel" minlength="5" maxlength="50"><br>
              <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error *ngIf="Password.invalid && (Password.dirty || Password.touched)">
                <mat-error *ngIf="Password.errors?.required">
                  Password is required.
                </mat-error>
                <mat-error *ngIf="Password.errors?.minlength">
                  Password must be at least 5 characters long.
                </mat-error>
                <!-- <mat-error *ngIf="Email.errors?.maxlength">
                    Email cannot exists 150 characters
                </mat-error> -->
                <mat-error *ngIf="Password.errors?.pattern">
                  Password is not valid
                </mat-error>
              </mat-error>
    </mat-form-field><br>
  </div>
  <button mat-raised-button [disabled]="!f.valid" color="primary">Login </button>
  <button mat-raised-button (click)="register()" color="primary">Register </button> 
</div>
</form>
</div>