<div class="bg-img" >
  <div class="login">
    <form #f="ngForm" (ngSubmit)="login(f)">
      <h1>Login </h1>
      <div class="form-div">
      <div class="input-field">
        <mat-form-field>
          <mat-label>Username </mat-label>
            <input type="text" matInput  name="username" required  
              [(ngModel)]="username" #Username="ngModel" minlength="3" ><br>
            <!-- <button *ngIf="username" matSuffix mat-icon-button aria-label="Clear" (click)="username=''">
              <mat-icon>close</mat-icon>
            </button> -->
          <mat-error *ngIf="Username.invalid && (Username.dirty || Username.touched)">
            <mat-error *ngIf="Username.errors?.required">
              Username is required.
            </mat-error>
            <mat-error *ngIf="Username.errors?.minlength">
              Atleast 3 characters long.
            </mat-error>
          </mat-error>
        </mat-form-field><br>
      </div>
      <div class="input-field" >   
        <mat-form-field>
          <mat-label>Password </mat-label>
          <input type="password" matInput  name="password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{5,}"
            [(ngModel)]="password" #Password="ngModel" minlength="5"><br>
          <!-- <button *ngIf="password" matSuffix mat-icon-button aria-label="Clear" (click)="password=''">
            <mat-icon>close</mat-icon>
          </button> -->
          <mat-error *ngIf="Password.invalid && (Password.dirty || Password.touched)">
            <mat-error *ngIf="Password.errors?.required">
              Password is required.
            </mat-error>
            <mat-error *ngIf="Password.errors?.pattern">
              Atleast 1 uppercase, lowercase, number, 5 character long
            </mat-error>
          </mat-error>
        </mat-form-field><br>
      </div>
      <div class="btn-div">
        <button mat-raised-button [disabled]="!f.valid" color="primary">Submit </button><br>
      </div>
      <span>Don't have an Account? <a href="register" class="signup" >Signup </a> </span> 

    </div>
    </form>
  </div>
</div>


<!-- 
<div class="login">
  <div class="left">
    <div class="bg-img">
      <h1>Login / Sign Up  to Interact with a Community of Automotive  Experts</h1>
    </div>
        
  </div>
  <div class="right">
    <h3>Please Login to Access Your ASPIRE Account.</h3>
    <p>Welcome Back, Fill in the details to continue.</p>
    
  </div>

</div> -->