$page-background-color: rgb(169, 126, 170);
$white: white;
h1 {
    text-align: center;
    font-family: sans-serif;;
    background-color: $page-background-color;
    color: $white;
    padding-top: 8px;
    border: solid;
    height: 8vh;
    margin: 0;
    border: unset;
}