<div class="sidenav">
    <div class="side-nav-i"><i (click)="navigateToCreate()" class="material-icons "> group_add</i></div>
    <div class="side-nav-a-div"><a (click)="navigateToCreate()"  class="side-nav-a" >Create</a></div><br>
    <div class="side-nav-i"><i (click)="navigateToDisplay()" class="material-icons"> playlist_add_circle</i></div>
    <div class="side-nav-a-div"><a (click)="navigateToDisplay()" class="side-nav-a">List</a> </div><br>
    <div class="side-nav-i"><i (click)="navigateToLogout()" class="material-icons logout">power_settings_new</i></div>
    <div class="side-nav-a-div"><a (click)="navigateToLogout()" class="side-nav-a">Logout</a></div>
</div>
  
